out
.svn
obj
bin
.idea
_ReSharper*
*.sln.GhostDoc.xml
*.dotCover
*.suo
*.user
*.Cache
*.cache
*.ncrunchsolution
*.ncrunchproject
/packages/*/*
/Tools/*/*
project.lock.json
project.fragment.lock.json
.vs
/CSharpFunctionalExtensions/CSharpFunctionalExtensions.xml
