# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - README.md

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
    - script: docker build . -t build-image -f Dockerfile
      displayName: Build an image
    - script: docker create --name build-container build-image
      displayName: Create a container
    - script: docker cp build-container:./app/out ./out
    - publish: ./out
      artifact: NuGetPackage